* {
    box-sizing: border-box;
    font-family: 'Noto Serif', serif;
}

html, body, main, .navList, .navItem > a {
    height: 100%;
    width: 100%;
}

body {
    overflow: hidden;
}

nav {
    position: fixed;
    top: 0;
    height: 120px;
    width: 100%;
    background-color: white;
    z-index: 1;
}

main {
    display: block;
    position: fixed;
    padding-top: 120px;
    background-color: grey;
    overflow-y: scroll;
}

main > section {
    padding-left: 20px;
    padding-right: 20px;
}

.navList {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navItem {
    height: 100%;
    float: left;
    width: 25%;
}

.navItem > a, .webItem > div, .resumeContents > .page-75 > a, .artItem > div {
    height: 100%;
    width: 100%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

img, .page-25 > div > button {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.page-25 > div > button {
    width: 80%;
    height: 75%;
}

.webItem > div > a {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.webItem > div > button, .artItem > div > button {
    z-index: 1;
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 100%;
}

.resumeImg {
    height: 90%;
    width: auto;
}

.navText {
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
}

#home {
    height: 100%;
}

.introStyle {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    font-style: normal;
}

.introStyle > h1, .artItemHeader{
    font-style: italic;
}

.introStyle > h1, .introStyle > h2{
    margin: 0;
}

.scrollPrompt {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#scrollHome {
    width: 100%;
    height: 10%;
    min-height: 50px;
    font-size: 20px;
    text-align: center;
}

#scrollHome > a {
    vertical-align: middle;
}

.sectionHeader {
    height: 10%;
}

.webList, .resumeContents, .artList {
    height: 90%;
    width: 100%;
    overflow: hidden;
}

.webList, .artList {
    margin: 0;
    padding: 0;
    list-style: none;
}

.webItem, .artItem{
    width: 50%;
    height: 50%;
    display: inline-block;
    float: left;
}

.webItemHeader, .webItemSubHeader{
    height: 10%;
    display: block;
    overflow: hidden;
}

.webItemHeader {
    font-style: italic;
}

.webItemSubHeader{
    font-size: 10px;
}

.col-1 {
    width: 100%;
    height: 100%;
    display: block;
}

.col-2 {
    width: 50%;
    height: 100%;
    display: inline-block;
}

.page-75 {
    width: 100%;
    height: 85%;
    display: block;
    float: left;
}

.page-25 {
    width: 100%;
    height: 15%;
    display: block;
    position: relative;
    float: left;
}

.page-25 > div {
    height: 100%;
    width: 50%;
    display: inline-block;
    float: left;
    position: relative;
}

@media only screen and (min-width: 450px) {
    .webItem, .artItem{
        padding-top: 10px;
    }

    .webItem > div > a > img, .artItem > div > img {
        height: 80%;
        width: auto;
        top: 20%;
        bottom: 0;
        transform: translateX(-50%);
    }

    .artItem > div > img {
        height: 90%;
        top: 10%;
    }
}

@media only screen and (min-width: 600px) {
    main, nav {
        display: inline-block;
    }

    nav {
        width: 25%;
        height: 100%;
        position: fixed;
        right: 0;
        overflow: hidden;
    }

    main {
        width: 75%;
        float: left;
        top: 0;
        padding-top: 0;
    }

    .scrollPrompt {
        left: 33%;
        transform: translateX(-33%);
    }

    .navItem {
        width: 100%;
        height: 25%;
        overflow: hidden;
    }
    .navItem > a > img {
        height: 100%;
        width: auto;
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    #home {
        height: 100%;
    }

    .webItem > div > button, .artItem > div > button {
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media only screen and (min-width: 1028px) {
    .resumeContents {
        position: relative;
    }

    .page-75 {
        width: 75%;
        height: 100%;
        position: relative;
        display: inline-block;
        float: left;
    }

    .resumeImg {
        height: 100%;
    }
    
    .page-25 {
        width: 25%;
        height: 33%;
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translateY(-50%);
    }

    .page-25 > div {
        height: 50%;
        width: 100%;
    }

    .page-25 > div > button {
        width: 85%;
        height: 75%;
    }

    .artItem > div > img {
        height: 90%;
        position: absolute;
        top: 10%;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%)
    }
}
