* {
    box-sizing: border-box;
    font-family: 'Noto Serif', serif;
}

html, body, main, .navList, .navItem > a {
    height: 100%;
    width: 100%;
}

body {
    overflow: hidden;
}

nav {
    position: fixed;
    top: 0;
    height: 120px;
    width: 100%;
    background-color: white;
    z-index: 1;
}

main {
    display: block;
    position: fixed;
    padding-top: 120px;
    overflow-y: scroll;
}

h1 {
    background-color: black;
    color: white;
}

.zoomHeader > h1 {
    background-color: white;
    color: black;
}

main > section {
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    min-height: 540px;
}

.navList {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navItem {
    height: 100%;
    float: left;
    width: 25%;
}

.navItem > a, .webItem > div, .resumeContents > .page-75 > a, .artItem > div, .zoomContents {
    height: 100%;
    width: 100%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

img, .downloadResume, .openResume, .iconItem > a, form, .successText, .errorText, .zoomLinkToWeb > a {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img { 
    filter: grayscale(1);
}

img:hover {
    filter: revert;
}

.vAlign {
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.hAlign {
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.hAlignButton{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.hoverPrompt {
    z-index: 1;
    text-align: center;
    top: 20%;
    width: 100%;
    padding: 10px;
    position: absolute;
    left: 0;
    transform: none;
    background-color: white;
}

form {
    max-width: 600px;
}

.successText, .errorText {
    width: 75%;
}

.downloadResume, .openResume {
    width: 80%;
    padding: 15px;
}

.iconItem > a{
    height: 75%;
    max-width: 70px;
}

.webItem > div > button {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: none;
    border: none;
}

.webItem > div > a, .artItem > div > button {
    z-index: 1;
    width: 100%;
    background-color: white;
    text-decoration: none;
    color: black;
    font-size: 10px;
    text-align: center;
    border: 1px solid black;
}

.downloadResume, .openResume, .webItem > div > a, .artItem > div > button{
    max-width: 200px;
}

.resumeImg {
    width: 90%;
    height: auto;
}

.navText {
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
}

#home {
    height: 100%;
}

.introStyle {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    font-style: normal;
}

.introStyle > h1 {
    font-style: italic;
}

.introStyle > h1, .introStyle > h2{
    margin: 0;
}

.introStyle > h1 {
    font-size: 50px;
}

.introStyle > h2 {
    font-size: 30px;
}

.scrollPrompt {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#scrollHome {
    width: 100%;
    height: 10%;
    min-height: 50px;
    font-size: 20px;
    text-align: center;
}

#scrollHome > a {
    vertical-align: middle;
}

.sectionHeader {
    height: 10%;
}

#art > .sectionHeader > h1{
    font-size: 30px;
}

.webList, .resumeContents, .artList, .zoomBox {
    height: 90%;
    width: 100%;
    padding: 10px;
    padding-bottom: 20px;
    overflow: hidden;
}

.zoomBox {
    position: absolute;
    width: calc(100% - 40px);
    background-color: white;
    z-index: 2;
}

.zbArt > img {
    width: 100%;
    height: auto;
    filter: revert;
}

.zoomWebImg {
    height: 20%;
    width: 50%;
    padding: 10px;
    float: left;
    position: absolute;
    bottom: 0;
}

.zoomWebImg > img {
    height: 100%;
    filter: revert;
    position: relative;
    width: auto;
}

.zoomLinkToWeb {
    width: calc(50% - 20px);
    margin-right: 10px;
    float: right;
    height: 20%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.zoomLinkToWeb > a {
    width: 75%;
    text-align: center;
}

.zoomTextBox {
    height: 80%;
    width: 100%;
    padding: 20px;
    padding-bottom: 0px;
    position: absolute;
    display: inline-block;
    float: left;
}

.zoomHeader, .zoomTech, .zoomSummary {
    width: 100%;
    height: 30%;
    display: block;
    position: relative;
    float: left;
}

.zoomHeader {
    height: 10%;
}

.zoomHeader > h1 {
    margin: 0;
    font-size: 15px;
}

.zoomSummary {
    height: 60%; 
    overflow-y: scroll;
}

.zoomSummary > p {
    font-size: 9.5px;
}

.techBox {
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    margin: 2px;
    font-size: 8px;
    padding: 5px;
}

.webList, .artList {
    margin: 0;
    padding: 0;
    list-style: none;
}

.webItem, .artItem{
    width: 50%;
    height: 50%;
    padding: 10px;
    display: inline-block;
    float: left;
}

.webItemHeader, .webItemSubHeader, .artItemHeader{
    height: 10%;
    display: block;
    text-align: center;
}

.webItemHeader, .artItemHeader {
    font-style: italic;
    font-size: 12px;
}

.webItemSubHeader{
    font-size: 10px;
}

.formBox {
    width: 100%;
    height: 60%;
    position: relative;
    display: block;
}

form > input, form > textarea {
    width: 100%;
    height: 40px;
    display: block;
    color: #575757;
    border: 1px solid grey;
    border-bottom: none;
    padding: 7px;
}

form > textarea {
    height: 100px;
}

form > legend {
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.success, .formerror {
    z-index: 1;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: white;
    border: 1px dashed lightgrey;
}

.buttonDeco, .buttonDecoZoom {
    color: #575757;
    text-decoration: none;
    border: 1px solid grey;
    background-color: white;
    text-align: center;
    font-size: 8px;
}

.buttonDecoZoom {
    font-size: 12px;
    padding: 10px;
}

.closeZoom {
    z-index: 5;
}

.success > button, .formerror > button, .closeZoom {
    position: absolute;
    top: 0;
    right: 0;
    right: 10px;
    top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.socialBox {
    width: 100%;
    height: 20%;
    display: block;
}

.iconItem {
    position: relative;
    height: 100%;
    width: 33%;
    display: inline-block;
    float: left;
}

.scrollTop {
    width: 100%;
    height: 10%;
    position: relative;
    display: block;
}

.scrollHome {
    width: 40%;
    max-width: 200px;
    position: absolute;
    background-color: white;
    padding: 10px;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.boxShadow {
  border: 1px solid;
  padding: 5px;
  box-shadow: 5px 10px;
}

.col-1 {
    width: 100%;
    height: 100%;
    display: block;
}

.col-2 {
    width: 50%;
    height: 100%;
    display: inline-block;
}

.page-75 {
    width: 100%;
    height: 85%;
    display: block;
    float: left;
}

.page-25 {
    width: 100%;
    height: 15%;
    display: block;
    position: relative;
    float: left;
}

.page-25 > div {
    height: 100%;
    width: 50%;
    display: inline-block;
    float: left;
    position: relative;
}

@media only screen and (min-width: 360px){
    .zoomHeader > h1 {
        font-size: 18px;
    }
    .techBox {
        font-size: 10px;
    }
    .zoomSummary > p {
        font-size: 11px;
    }
    #art > .sectionHeader > h1{
        font-size: 2em;
    }
    .buttonDeco, .buttonDecoZoom {
        font-size: 12px;
    }
    .downloadResume, .openResume{
        padding: 25px;
    }
}

@media only screen and (min-width: 375px) and (min-height: 812px){
    .zoomHeader > h1 {
        font-size: 25px;
    }
    .techBox {
        font-size: 12px;
    }
    .zoomSummary > p {
        font-size: 13px;
    }
    .buttonDeco, .buttonDecoZoom, .webItem > div > a, .artItem > div > button, .webItemSubHeader{
        font-size: 14px;
    }
    .artItem > div > img{
        top: 55%;
    }
    .webItemHeader, .artItemHeader {
        font-size: 18px;
    }
    .zoomLinkToWeb > a{
        padding: 15px;
    }
}

@media only screen and (min-width: 411px) and (min-height: 731px){
    .zoomHeader > h1 {
        font-size: 25px;
    }
    .techBox {
        font-size: 12px;
    }
    .zoomSummary > p {
        font-size: 13px;
    }
    .buttonDeco, .buttonDecoZoom, .webItem > div > a, .artItem > div > button, .webItemSubHeader{
        font-size: 14px;
    }
    .artItem > div > img{
        top: 55%;
    }
    .webItemHeader, .artItemHeader {
        font-size: 18px;
    }
    .zoomLinkToWeb > a{
        padding: 15px;
    }
}

@media only screen and (min-width: 540px){
    .webItem, .artItem{
        padding-top: 10px;
    }

    .artItem > div > img, .webItem > div > button > img {
        width: 80%;
    }

    .webItemHeader, .artItemHeader{
        font-size: 16px;
    }
    .webItemSubHeader{
        font-size: 12px;
    }

    .techBox {
        font-size: 14px;
    }

    .zoomSummary { 
        height: 50%;
    }

    .zoomWebImg, .zoomLinkToWeb {
        height: 30%;
    }

    .zoomSummary > p {
        font-size: 14px;
    }

    .resumeContents {
        position: relative;
    }

    .resumeImg {
        height: 90%;
        width: auto;
    }
}

@media only screen and (min-width: 568px){
    main, nav {
        display: inline-block;
    }

    nav {
        width: 25%;
        height: 100%;
        position: fixed;
        right: 0;
        overflow: hidden;
    }

    main {
        width: 75%;
        float: left;
        top: 0;
        padding-top: 0;
    }

    .scrollPrompt {
        left: 33%;
        transform: translateX(-33%);
    }

    .navItem {
        width: 100%;
        height: 25%;
        overflow: hidden;
    }

    .navItem > a > img {
        height: 100%;
        width: auto;
    }

    #home {
        height: 100%;
    }

    .webItem > div > a, .artItem > div > button {
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
    }

    .zbArt > img {
        height: 100%;
        width: auto;
    }
}

@media only screen and (min-width: 600px) and (min-height: 450px){
    .navItem > a > img {
        width: 100%;
        height: auto;
        position: relative;
        display: block;
    }
}

@media only screen and (min-width: 700px){
    .artItem > div > img {
        height: 75%;
        width: auto;
        top: 10%;
        bottom: 0;
        transform: translateX(-50%);
    }
}

@media only screen and (min-width: 800px){
    .navItem > a > img {
        height: 100%;
        width: auto;
    }

    .zbWeb {
        padding-bottom: 30px;
    }

    .webItem > div > button > img {
        height: 75%;
        width: auto;
        max-width: 100%;
        top: 20%;
        bottom: 0;
        transform: translateX(-50%);
    }

    .zoomWebImg, .zoomTextBox {
        height: 90%;
        width: 50%;
        padding: 20px;
        position: relative;
        display: inline-block;
        float: left;
    }

    .zoomWebImg > img {
        width: 100%;
        height: auto;
    }
    
    .zoomHeader, .zoomTech, .zoomSummary, .zoomLinkToWeb {
        width: 100%;
        display: block;
        position: relative;
        float: left;
    }

    .zoomTech {
        height: 30%;
    }

    .techBox, .zoomSummary > p {
        font-size: 12px;
    }
    
    .zoomHeader, .zoomLinkToWeb {
        height: 10%;
    }
    
    .zoomHeader > h1 {
        margin: 0;
        font-size: 25px;
    }
    
    .zoomSummary {
        height: 60%; 
    }
    
    .zoomLinkToWeb > a {
        max-width: 500px;
        padding: 10px;
        border: 1px solid black;
    }

    .resumeImg {
        height: 100%;
        max-height: 800px;
        width: auto;
    }
}

@media only screen and (min-width: 1023px) {
    main {
        width: 85%;
    }

    nav {
        width: 15%;
    }

    .introStyle > h1 {
        font-size: 70px;
    }
    
    .introStyle > h2 {
        font-size: 60px;
    }

    .page-75 {
        width: 75%;
        height: 100%;
        position: relative;
        display: inline-block;
        float: left;
    }
    
    .page-25 {
        width: 25%;
        height: 33%;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .page-25 > div {
        height: 50%;
        width: 100%;
    }

    .downloadResume, .openResume {
        width: 85%;
        height: 75%;
    }

    .webItem, .artItem {
        padding: 20px;
        padding-top: 30px;
    }

    .webItemHeader, .artItemHeader{
        font-size: 20px;
    }
    .webItemSubHeader{
        font-size: 12px;
        padding-top: 5px;
    }

    .artItem > div > img {
        height: 90%;
        position: absolute;
        top: 15%;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%)
    }

    .webItem > div > a, .artItem > div > button {
        font-size: 20px;
    }
    .zoomWebImg > img{
        width: 100%;
        height: auto;
    }
    .zbArt > img {
        height: 100%;
        max-height: 800px;
    }
    .zoomHeader > h1 {
        font-size: 35px;
    }
    .techBox {
        font-size: 18px;
    }
    .zoomSummary > p {
        font-size: 20px;
        overflow-x: scroll;
        margin: 0;
    }
    .buttonDeco, .buttonDecoZoom {
        font-size: 18px;
    }
    .zoomLinkToWeb > a{
        padding: 20px;
    }
}

@media only screen and (min-width: 1100px) {
    .page-25 {
        left: 65%;
    }
}

@media only screen and (min-height: 1023px) {
    .navItem > a > img{
        width: 100%;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .webItem, .artItem {
        padding: 20px;
        padding-top: 30px;
    }

    .artItem > div > img, .webItem > div > button > img {
        width: 100%;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .webItem > div > a, .artItem > div > button {
        font-size: 20px;
    }

    .webItemHeader, .artItemHeader {
        font-size: 25px;
    }

    .webItemSubHeader {
        font-size: 18px;
    }

    .sectionHeader > h1, #art > .sectionHeader > h1{
        font-size: 50px;
    }

    .zoomWebImg > img{
        width: 100%;
        height: auto;
    }

    .zoomHeader > h1 {
        font-size: 35px;
    }
    .techBox {
        font-size: 20px;
    }
    .zoomSummary > p {
        font-size: 20px;
        overflow-x: scroll;
    }
    .buttonDeco, .buttonDecoZoom {
        font-size: 18px;
    }
    .zoomLinkToWeb > a{
        padding: 20px;
    }
}

@media only screen and (min-height: 1023px) and (min-width: 1023px){
    .sectionHeader > h1, #art > .sectionHeader > h1, .introStyle > h1{
        font-size: 70px;
    }

    .introStyle > h2 {
        font-size: 50px;
    }

    .webItemHeader, .artItemHeader {
        font-size: 35px;
    }

    .webItemSubHeader {
        font-size: 25px;
    }
    
    .artItem > div > img, .webItem > div > button > img {
        width: 90%;
        height: auto;
        top: 60%;
        max-width: 350px;
    }
}

